[data-theme="dark"] {
    --color: #cecece;
    --bg-body: #0d1117;
    --bgc-b: #161b22;
    --txt-color: #8b949e;
    --txt-checked-color: #c9d1d9;
    --btn-color: #2ea043;
    --btn-bg: #21262d;
    --btn-brd: solid 1px #074a14;
    --btn-hover-bg: #2ea043;
    --btn-hover-color: #c9d1d9;
    --btn-disabled-color: #7e7e7e;
    --btn-disabled-bg: #1e2024;
    --btn-disabled-brd-color: #343434;
}
*, :after, :before {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: var(--bg-body, #f9f9f9);
    color: var(--color, #333);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
}
.container {
    width: 500px;
    margin: 30px auto;
    padding: 20px;
    background: var(--bgc-b, #fff);
}
h1 {
    margin-bottom: 40px;
    text-align: center;
}
.field {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.switch + div {
    color: var(--txt-color, #a3a3a3);
}
.switch:has(input:checked) + div {
    color: var(--txt-checked-color, #333);
}

button:not([disabled]) {
    cursor: pointer;
}
button {
    display: block;
    margin: 30px auto 0;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 400;
    color: var(--btn-color, #fff);
    background: var(--btn-bg, #656d79);
    user-select: none;
    border: var(--btn-brd, 0);
    border-radius: 4px;
    transition: .2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color,background-color,border-color;
    box-shadow: inset 0 -2px 0 rgb(0 0 0 / 15%);
}
button:not([disabled]):hover {
    background: var(--btn-hover-bg, #31ac5f);
    color: var(--btn-hover-color, #fff);
}
button:disabled {
    color: var(--btn-disabled-color, hsla(0, 0% ,100%, .6));
    pointer-events: none;
    background-color: var(--btn-disabled-bg, #656d79);
    border-color: var(--btn-disabled-brd-color, #656d79);
    opacity: .65;
}

.flash-message {
    position: fixed;
    top: 50px;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    padding: 10px 30px 10px 15px;
    text-align: center;
    font-size: 14px;
    background-color: #8da85e;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, .24);
}
.flash-message.fade {
    opacity: 0;
    transform: scale(.9);
    transition: all .5s, width 0s;
}
.flash-message.fade.in {
    opacity: 1;
    transform: scale(1);
}